.min-margin-top {
    margin-top: 10px;
}

.med-margin-top {
    margin-top: 50px;
}

.container_margin--med {
    margin: 50px 0px;
}

.container_margin {
    margin: 100px 0px;
}

.none {
	display: none !important;
}

.block {
	display: block !important;
}