footer {
	padding-top: 38px !important;
    padding-bottom: 38px !important;
    position: absolute;
    bottom: 0;
    width: 100%;

    & ul {
    	margin-bottom: 0px !important;
    }
}

#get-in-touch {
  padding: 100px 0 50px;
  background-image: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%) !important;
  color: #fff;
}