.form_parent {
    float: none !important;
    margin: 0 auto;
}

.form {
    background-color: #f5f7f8;
    border: 1px solid #e2e5e6;
    border-radius: 5px;
    padding: 20px;
}

.form-login {
    background-color: #f5f7f8;
    border: 1px solid #e2e5e6;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 30px;
    position: relative;
    top: 40%;
    width: 290px;
}

.form-login .logo {
    margin-bottom: 24px;
    position: relative;
    top: 0;
}

.form-login .form-group {
    margin-bottom: 30px;

    & input {
        height: 40px;
    }
}

.alert_container--login {
    margin: auto;
    width: 290px;
}