.img-thumbnail {
	border: none !important;
	background-color: transparent !important;
	padding: 0px !important;
}

.mb-4 {
    margin-bottom: 2.5rem!important;
}

.h-100 {
    height: 100%!important;
}

.d-block {
    display: block!important;
}

.delete-img {
	color: #c52d2a; 
    top: 0;
    right: 15px;
    text-align: center;
	float: inline-end;
	font-size: 16px;
	position: absolute;
	z-index: 2;
	margin-right: -6px;
	margin-top: -9px;

	&:hover, &:active, &:focus {
		text-decoration: none !important;
		color: #bb2623 !important; 
	}
}

.img-container {
	display: inline-block;
	margin: 10px;
	position: relative;

	& img {
		width: 100%;
	}
}

.selected-img:hover,
.selected-img:active,
.selected-img:focus {
	border: 3px solid #2ca9b3;
	cursor: pointer;
	border-radious: 4px;
}

.volunters a:hover,
.volunters a:active,
.volunters a:focus {
	color: #2ca9b3;
	text-decoration: none;
}