.img-thumbnail {
	border: none !important;
	background-color: transparent !important;
}

.mb-4 {
    margin-bottom: 2.5rem!important;
}

.h-100 {
    height: 100%!important;
}

.d-block {
    display: block!important;
}