.custom_section {
  padding: 100px 20px;
}

#sponsors {
  padding: 100px 0px;
}

#portfolio .portfolio-items {
	margin-bottom: 30px;
}

.pp_expand {
	display: none !important;
}

.form-login {
    background-color: #f5f5f1;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 25px;
    padding: 30px;
    position: relative;
    top: 40%;
    width: 290px;
}

.form-login .logo {
    margin-bottom: 24px;
    position: relative;
    top: 0;
}

.form-login .form-group {
    margin-bottom: 30px;

    & input {
        height: 40px;
    }
}

.img-thumbnail__circle {
    border: none;
    background-color: none;
    border-radius: 150px !important;
    padding-bottom: 10px; 

}

.volunters a {
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

.volunters div {
    padding-bottom: 15px;
    padding-top: 15px;
}

#volunters {
    padding: 100px 0;
}

.modal-header .close__icon {
    margin-top: -19px;
}

.min-margin-top {
    margin-top: 10px;
}

.med-margin-top {
    margin-top: 50px;
}

.container_margin--med {
    margin: 50px 0px;
}

.container_margin {
    margin: 100px 0px;
}
