.custom_section {
  padding: 100px 20px;
}

#about, 
#services,
#blog,
#portfolio,
#volunters,
#sponsors,
#get-in-touch {
  padding: 170px 0px  70px !important;
}


#main-slider {
	padding: 25px 0;
}

#portfolio .portfolio-items {
	margin-bottom: 30px;
}

.pp_expand {
	display: none !important;
}

#get-in-touch p {
	color: #fff;
}

.more-notices h1 {
	font-size: 32px !important;
	text-transform: initial !important;
}